{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="mx-auto">SIMULER VOTRE TARIF</h2>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}

        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg></span>
                        </div>
                        <input type="text" class="form-control" id="filter-input" placeholder="Filtrer le choix de l'agence de départ ...">
                    </div>
                    <label for="codeDepart"><b>Départ: </b></label>
                    <select name="codeDepart" id="sortable-dropdown-depart" class="sortable-dropdown form-control">
                        <option value="">Choisir une agence</option>
                        {% for item in bureaux %}
                            <option value="{{ item.codique }}-{{ item.nombureau }}">{{ item.nombureau }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg></span>
                        </div>
                        <input type="text" class="form-control" id="filter-input-arrive" placeholder="Filtrer le choix de l'agence d'arrivée ...">
                    </div>
                    <label for="Arrive"><b>Arrivée:</b></label>
                    <select name="codeArrive" id="sortable-dropdown-arrive" class="sortable-dropdown form-control">
                        <option value="">Choisir une agence</option>
                        {% for item in bureaux %}
                            <option value="{{ item.codique }}-{{ item.nombureau }}">{{ item.nombureau }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="pds"><b>Poids (kg)</b></label>
                    <input type="text" class="form-control" placeholder="Entrer le poids" id="pds" name="pds" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="long"><b>Longueur (cm)</b></label>
                    <input type="text" class="form-control" placeholder="Entrer la longueur" name="long">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="larg"><b>Largeur (cm)</b></label>
                    <input type="text" class="form-control" placeholder="Entrer la largeur" name="larg">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="haut"><b>Hauteur (cm)</b></label>
                    <input type="text" class="form-control" placeholder="Entrer la hauteur" name="haut">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="sqlserver" name="calculer">Calculer</button>
                </div>
            </div>
        </div>
    </form>

    <style>
        /* Add your CSS styles here */
        .card {
            background-color: #f0f0f0; /* Set the background color of the card */
            padding: 10px; /* Add padding for spacing */
            margin-bottom: 10px; /* Add margin to separate cards */
        }
    
        .underline {
            text-decoration: underline; /* Add underline style */
        }
    </style>
    
    <style>
        /* Add your CSS styles here */
        .card {
            background-color: #f0f0f0; /* Set the background color of the card */
            padding: 10px; /* Add padding for spacing */
            margin-bottom: 10px; /* Add margin to separate cards */
        }
    
        .label {
            text-decoration: underline; /* Add underline style to labels */
        }
    </style>
    
    <style>
        /* Add your CSS styles here */
        .card {
            background-color: #f0f0f0; /* Set the background color of the card */
            padding: 10px; /* Add padding for spacing */
            margin-bottom: 10px; /* Add margin to separate cards */
        }
    
        .label {
            text-decoration: underline; /* Add underline style to labels */
        }
    
        .bold {
            font-weight: bold; /* Add bold style to the last <p> element */
        }
    </style>
    
    {% if bureaux %}
            <p><span class="label"></span></p>
    {% endif %}
    {% if poids %}
    <div class="card">
        {% if poidsreel %}
            <p><span class="label">Poids réel:</span> {{ poidsreel }}</p>
        {% endif %}
        
        {% if poidsvol %}
            <p><span class="label">Poids volumétrique:</span> {{ poidsvol }}</p>
        {% endif %}
        
        {% if poids %}
            <p><span class="label">Poids retenu pour la tarification:</span> {{ poids }}</p>
        {% endif %}
        
        {% if message %}
            <p><span class="label">{{ message }}</span></p>
        {% endif %}

        
        {% if datazone %}
            {% if bureaux_requested %}
                <p><span class="label">Déstination:</span> {{ bureaux_requested }}</p>
            {% endif %}
            <p><span class="label">Zone de tarification:</span> {{ datazone.0.zonemodifier }}</p>
        {% endif %}
        
        {% if data %}
            <p class="bold"><span class="label">Tarif:</span> {{ data.0.price }} Ariary</p>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endblock content %}
{% block script %}
<!-- Add these script tags to include jQuery and jQuery UI Sortable -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    // Your JavaScript code here
    //alert('Hello, this is JavaScript inside a Django template!');
</script>
<script>
    $(document).ready(function () {
        var select = document.getElementById("sortable-dropdown-depart");
        var options = select.getElementsByTagName("option");
        var arr = Array.from(options).slice(1); // Exclude the first option ("Choisir une agence")

        // Second dropdown
        var selectArrive = document.getElementById("sortable-dropdown-arrive");
        var optionsArrive = selectArrive.getElementsByTagName("option");
        var arrArrive = Array.from(optionsArrive).slice(1);

        arr.sort(function (a, b) {
            var textA = a.text.toUpperCase();
            var textB = b.text.toUpperCase();
            return textA.localeCompare(textB);
        });
        arrArrive.sort(function (a, b) {
            var textA = a.text.toUpperCase();
            var textB = b.text.toUpperCase();
            return textA.localeCompare(textB);
        });

        // Remove existing options and add the sorted ones
        /*while (select.firstChild) {
            select.removeChild(select.firstChild);
        }*/

        arr.forEach(function (option) {
            select.appendChild(option);
        });


        // Add an input event listener to filter options
        $("#filter-input").on("input", function () {
            var filterText = this.value.toUpperCase();
            var temp = []
            arr.forEach(function (option) {
                var optionText = option.text.toUpperCase();
                if (optionText.indexOf(filterText) > -1) {
                    temp.push(option);
                    option.style.display = "";
                } else {
                    option.style.display = "none";
                }
            });
            for (const element of temp) { 
                element.selected = true;
                break;
            }

        });

        // Add input event listener for the second input filter
        $("#filter-input-arrive").on("input", function () {
            var filterText = this.value.toUpperCase();
            var temp = []
            arrArrive.forEach(function (option) {
                var optionText = option.text.toUpperCase();
                if (optionText.indexOf(filterText) > -1) {
                    temp.push(option);
                    option.style.display = "";
                } else {
                    option.style.display = "none";
                }
            });
            for (const element of temp) { 
                element.selected = true;
                break;
            }
        });
    });
</script>


{% endblock %}
